<div class ="container text-center card  text-white mt-4 shadow bg-dark">
<h1 class='text text-primary'>hy welcome to the TODO App</h1>
<p class="text text-center">To know more aobut it click here
<%= link_to :Todo , todos_path%>
</p>
</div>
